@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Test Application</h2>
        <ul>
            <li><a asp-controller="Import">Import CSV</a> </li>
            <li><a asp-controller="User">List of Users</a></li>
        </ul>
    </div>
    
</div>
